@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700;800;900&display=swap');
/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    text-decoration: none;
}

body {
    font-family: 'Inter Tight', sans-serif;
}

.container {
    display:flex;
    background-color: #f8f8f8;
}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    background: white;
    color: black;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    border-right: 0.5px solid rgb(236, 236, 236);

}

.top_section {
    display: flex;
    align-items:center;
    padding:20px 15px;
}

.logo {
    font-size: 20px;
    font-weight: 900;
    color: #631433;
    font-style: italic;
}

.bars {
    display: flex;
    color: gray;
    cursor: pointer;
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: gray;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    gap: 10px;
    transition: all 0.5s;
}

.link:hover {
    background: #f3f3fd;
    color: #677eff;
    transition: all 0.5s;
}

.active {
    background: #f3f3fd;
    color: #677eff;
}

.icon {
    font-size: 20px;
}

.link_text {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
}

.navbar {
    padding: 1rem;
    background-color: white;
    border-bottom: 0.5px solid rgb(236, 236, 236);
}

