@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    text-decoration: none;
}

:root {
    --color-primary: #6b7a8f;
    --color-secondary: #101118;
    --color-accent: #1d1f2f;
    --color-focus: #6d64f7;
    --base-duration: 600ms;
    --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

body {
    font-family: 'Poppins', sans-serif;
}

.container-main {
    display:flex;
    background-color: #f8f8f8;
}

main {
    width: 100%;
    padding-top: 20px;
}

.sidebar {
    background: white;
    color: black;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    border-right: 0.5px solid rgb(236, 236, 236);

}

.top_section {
    display: flex;
    align-items:center;
    padding:20px 15px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #631433;
    font-style: italic;
    margin-left: 25px;
}

.bars {
    display: flex;
    color: gray;
    cursor: pointer;
    font-size: 25px;
    margin-left: 50px;
    transition: all 0.5s;
}

.link {
    display: flex;
    color: gray;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    gap: 10px;
    transition: all 0.5s;
}

.link:hover {
    background: #f3f3fd;
    color: #677eff;
    transition: all 0.5s;
}

.active {
    background: #f3f3fd;
    color: #677eff;
}

.icon {
    font-size: 20px;
    
}

.link_text {
    font-size: 14px;
    font-weight: 600;
    padding-top: 3px;
}

.navbar {
    padding: 1rem;
    background-color: white;
    border-bottom: 0.5px solid rgb(236, 236, 236);
    display: flex;
}

.navbar input {
    border: 1.5px solid rgb(236, 236, 236);
    background-color: #f3f3f3;
    border-radius: 5px;
    height: 2.5rem;
    font-size: 15px;
    font-weight: 500;
    color: #4e4e4e;
    padding-left: 10px;
    padding-right: 7px;
}

.navbar input:focus {
    border: 3px solid #c5ceff;
    outline: none;
}

.navbar input::placeholder {
    font-size: 14px;
    font-weight: 400;
}

/* .navbar button {
    background-color: #677eff;
    border-radius: 5px;
    box-shadow:inset 4px 3px 5px 3px #3c55fd;
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-left: 7px;
    padding: 6px 12px 5px 12px;
    transition: all 0.5s;
} */

/* .navbar button:hover {
    background-color: #8596f8;
    box-shadow:inset 4px 3px 5px 3px #5c72fd;
    transition: all 0.5s;
} */

.slide {
    opacity: 0.25;
    position: relative;
    transition: opacity calc(var(--base-duration) / 2) var(--base-ease), transform calc(var(--base-duration) / 2) var(--base-ease);
    z-index: 1;
}
.slide--previous:hover, .slide--next:hover {
    opacity: 0.5;
}
.slide--previous:hover {
    transform: translateX(2%);
}
.slide--next:hover {
    transform: translateX(-2%);
}
.slide--current {
    opacity: 1;
}

.slide--current .slide__content {
    animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
    visibility: visible;
}

.slide__content > * + * {
    margin-top: 2rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
   }
    to {
        opacity: 1;
   }
}